@import "seattletimes";
@import "stepper";
@import "historical";
@import "mix";
@import "infobox";

@sans: "Roboto", @df-sans;

@coal: #15191D;
@gas: #273339;
@hydro: #457C8F;
@nuclear: #E45635;
@solar: #F7A21B;

@ok: #273339;
@danger: #8E1E19;

main.demo {
  position: fixed;
  max-width: 360px;
  max-height: 720px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 16px;
  font-family: @sans;
  .display-flex();
  .flex-direction(column);
  .justify-content(space-around);
}

.section-header {
  margin: 5px 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
}

.region {
  border: 1px solid @df-light-gray;
  padding: 5px;
  margin: 2px;
}

.powered {
  .display-flex();
  .justify-content(center);
  .align-items(center);
  background: linear-gradient(to right, @df-light-gray, white);
  padding: 8px;

  label {
    .flex(1);
  }

  .status {
    background: @danger;
    font-weight: bold;
    color: white;
    transition: background .3s linear;
    padding: 4px 16px;

    &.powered {
      background: @ok;
    }
  }
}

.scenarios {
  .display-flex();
  .justify-content(space-between);
  padding: 16px 0;

  .scenario {
    .flex(0 0 30%);
    text-align: center;
    padding: 4px 16px;
    text-transform: uppercase;
    font-size: 0.7em;
    background: @df-blue;
    color: @df-off-white;
    cursor: pointer;

    &:hover {
      background: darken(@df-blue, 10%);
    }
  }
}